{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTodo - Organize Your Day</title>
    <link rel="stylesheet" href="{% static 'css/landing/landing.css' %}">
</head>

<body>
<!-- Header -->
    <header class="header">
        <nav class="navbar">
        <div class="nav-brand">MyTodo</div>
        <div class="nav-links">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
            {% comment %} <a href="{% url '' %}" class="nav-link">ToDo</a> {% endcomment %}
            <a href="{% url 'about' %}" class="nav-link">About</a>
            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
                <button type="submit" class="nav-button">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            {% endif %}
        </div>
        </nav>
    </header>
<!-- Content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/landing/landing.js' %}"></script>
</body>
</html>
