{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/users/login.css' %}">

<div class="login-container">
    <div class="login-text">
        <h2>Kirish</h2>

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Parol" required>
            <button type="submit" class="login-btn">Kirish</button>
        </form>

        <p class="register-link">
            Akkountingiz yo‘qmi? <a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a>
        </p>
    </div>
</div>
{% endblock %}
