{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        {% if article.photo %}
        <img src="{{ article.photo.url }}" class="card-img-top" alt="{{ article.title }}">
        {% endif %}

        <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>

            {% if article.summary %}
            <p class="text-muted"><strong>Qisqacha:</strong> {{ article.summary }}</p>
            {% endif %}

            <p class="card-text">{{ article.body|safe }}</p>

            <p class="text-muted">
                Muallif: {{ article.author }} |   
                Yaratilgan sana: {{ article.date|date:"d M Y H:i" }}
            </p>

            <div class="container mt-4">
                <h3>Izohlar</h3>
                    {% if article.comments %}
                        <div class="row">
                            {% for comment in article.comments.all %}
                            <div class="col-md-6 mb-3">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{ comment.author }} 
                                            <small class="text-muted float-end">{{ comment.date|date:"d M Y H:i" }}</small>
                                        </h6>
                                        <p class="card-text">{{ comment.comment }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Hozircha izohlar mavjud emas.</p>
                    {% endif %}
                </div>

            <div class="mt-3">
                <a href="{% url 'article-edit' article.pk %}" class="btn btn-primary">Tahrirlash</a>
                <a href="{% url 'article-delete' article.pk %}" class="btn btn-danger">O‘chirish</a>
                <a href="{% url 'article-list' %}" class="btn btn-secondary">Orqaga</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
