{% extends 'base.html' %}

{% block title %}Parol o‘zgartirildi{% endblock %}

{% block content %}
<div class="reset-container">
    <div class="reset-card">
        <div class="reset-done">
            <h1>Parol muvaffaqiyatli o‘zgartirildi</h1>
            <p>Endi yangi parolingiz bilan tizimga kirishingiz mumkin.</p>
        </div>
        <div class="reset-link-div">
            <p><a href="{% url 'login' %}" class="reset-link" style="color: #ce39cc;">Login sahifasiga qaytish</a></p>
        </div>
    </div>
</div>
{% endblock %}
