{% extends 'base.html' %}

{% block title %}Havola yuborildi{% endblock %}

{% block content %}
<div class="reset-container">
    <div class="reset-card">
        <div class="reset-done">
            <h1>Havola yuborildi</h1>
            <p>Email manzilingizga parolni tiklash havolasi yuborildi. Iltimos, pochtangizni tekshiring.</p>
        </div>
        <div class="reset-link-div">
            <p><a href="{% url 'login' %}" class="reset-link">Login sahifasiga qaytish</a></p>
        </div>
    </div>
</div>
{% endblock %}
