{% extends 'base.html' %}

{% block title %}Yangi parol{% endblock %}

{% block content %}
<div class="reset-container">
    <div class="reset-card">
        <h1>Yangi parolni kiriting</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="login-form">
                <label> {{ form.new_password1.label_tag }}</label>
                <input type="password" name="new_password1" placeholder="new_password1" required>
            </div>
            <div class="login-form">
                <label> {{ form.new_password2.label_tag }}</label>
                <input type="password" name="new_password2" placeholder="new_password2" required>
            </div>
            {{ form.errors }}
            <button type="submit" class="neu-button login-btn">
                <span class="btn-text">O'zgartirish</span>
            </button>
            <div class="reset-link-div">
                <p><a href="{% url 'login' %}" class="reset-link">Login sahifasiga qaytish</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
