{% extends 'base.html' %}
{% load static %}
{% block title %}Parolni Tiklash{% endblock %}

{% block content %}
<div class="reset-container">
    <div class="reset-card">
        <div class="reset-header">
                 <div class="icon-inner">
                    <img src="{% static 'images/black.png' %}" alt="User Icon" class="email-img">
                </div>

            <h2>Parolni Tiklash</h2>
            <p>Elektron pochtangizni kiriting, sizga tiklash havolasi yuboriladi.</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="reset-form">
                <label>Email</label>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <button type="submit" class="neu-button reset-btn">
                <span class="btn-text">Javobni yuborish</span>
            </button>
        </form>
        <div class="reset-link-div">
            <p><a href="{% url 'login' %}" class="reset-link">Login sahifasiga qaytish</a></p>
        </div>
    </div>
</div>
{% endblock %}
