{% extends 'base.html' %}
{% load hitcount_tags %}
{% block title %}
{{ news.title }}
{% endblock title %}

{% block content %}
     <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <h1>{{news.title}}</h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>{{news.author.get_full_name}}</a> <span><i class="fa fa-calendar"></i>{{news.published_time}}</span> <a href="#"><i class="fa fa-eye" aria-hidden="true">{{total_hits}}</i></a> </div>
            <div class="single_page_content"> <img class="img-center" src="{{news.image.url}}" alt="">
              <p>{{ news.body|safe}}</p>



              <!-- Comments Section -->
                <div class="comments-section">
                    <h3>{{ comment_count }} Comments</h3>

                    <!-- Existing comments -->
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-header">
                                <strong>{{ comment.author.get_full_name }}</strong> 
                                <span class="comment-date">{{ comment.created|date:"d M Y H:i" }}</span>
                            </div>
                            <div class="comment-body">
                                <p>{{ comment.body }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>No comments yet. Be the first to comment!</p>
                    {% endfor %}

                    <!-- New comment form -->
                    {% if user.is_authenticated %}
                        <div class="comment-form">
                            <h4>Leave a Comment</h4>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                <button type="submit" class="comment-btn">Post Comment</button>
                            </form>
                        </div>
                    {% else %}
                        <p>Please <a href="{% url 'login' %}">login</a> to leave a comment.</p>
                    {% endif %}
                </div>





              {% if request.user.is_superuser or request.user == news.author %}
                <div class="btn-container">
                    <a href="{% url 'news-update' news.slug %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'news-delete' news.slug %}" class="btn-theme">Delete</a>
                    <a href="{% url 'news-home' %}" class="btn-theme">Back to List</a>
                </div>
              {% endif %}

            
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="related_post">
              <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
                {% for related_news in related_news %}
                <li>
                  <div class="media"> <a class="media-left" href="{{related_news.get_absolute_url}}"> <img src="{{related_news.image.url}}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="{{related_news.get_absolute_url}}"> {{related_news.title}}</a> </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> </nav>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              {% for popular_news in popular_news %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{popular_news.get_absolute_url}}" class="media-left"> <img alt="" src="{{popular_news.image.url}}"> </a>
                  <div class="media-body"> <a href="{{popular_news.get_absolute_url}}" class="catg_title"> {{popular_news.title}}</a> </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock content %}





